= contextual_links

%h1= t_title

%ul
- @booking_imports.each do |importer|
  %li
    = link_to importer.csv_file_name, importer.csv.url
    %ul
      -#%li
      -#  = link_to 'Show', importer
      %li
        = link_to 'Edit', edit_booking_import_path(importer)
      %li
        = link_to 'Destroy', importer, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Import', new_booking_import_path