= semantic_form_for @tenant do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :users

  - f.object.build_company unless f.object.company
  = f.inputs t('form.company.address') do
    = f.semantic_fields_for :company do |p|
      = render 'vcards/form', :f => p

  = f.inputs t('form.company.book_keeping') do
    = f.input :incorporated_on, :as => :date_field
    = f.input :fiscal_year_ends_on, :as => :date_field
    = f.input :vat_number
    = f.input :uid_number
    = f.input :ahv_number

  = f.inputs t('settings.vesr.title') do
    = render :partial => 'settings/form_fields', :locals => {:form => f}

  = f.buttons do
    = f.commit_button
