%h3= t('form.company.book_keeping')
= f.input :incorporated_on, :as => :date_field
= f.input :fiscal_year_ends_on, :as => :date_field
= f.input :vat_number
= f.input :uid_number
= f.input :ahv_number

= f.button :submit