= semantic_form_for @tenant do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :users

    - f.object.build_company unless f.object.company
    = f.inputs t('form.company.address') do
      = f.semantic_fields_for :company do |p|
        = render 'vcards/form', :f => p

  = f.inputs t('form.company.book_keeping') do
    = f.input :incorporated_on, :as => :date_field
    = f.input :fiscal_year_ends_on, :as => :date_field
    = f.input :vat_number

  = f.buttons do
    = f.commit_button
