.contextual
  = icon_link_to :profit_sheet, :action => :profit_sheet, :by_value_period => params[:by_value_period]
  = contextual_links_for

%h1= t('bookyt.balance_report_for', :company => @company)

%table.zebra-striped.collection{:width => "100%"}
  %thead
    %tr
      %th{:colspan => "2"}
      -for @date in @dates
        %th{:style => "text-align: right"}
          %h2= @date.year
    %tr
      %th{:colspan => "2"}
        %h2= t('bookyt.assets')
      -for @date in @dates
        %th{:style => "text-align: right"}
          %h2= currency_fmt(Account.by_type('current_assets').saldo(@date) + Account.by_type('capital_assets').saldo(@date))

  = render 'account_group_sheet', :group => 'current_assets'
  = render 'account_group_sheet', :group => 'capital_assets'
  %thead
    %tr
      %th{:colspan => "2"}
        %h2= t('bookyt.capital')
      -for @date in @dates
        %th{:style => "text-align: right"}
          %h2= currency_fmt(Account.by_type('outside_capital').saldo(@date) + Account.by_type('equity_capital').saldo(@date))

    = render 'account_group_sheet', :group => 'outside_capital'
    = render 'account_group_sheet', :group => 'equity_capital'
  %thead
    %tr
      %th{:colspan => "2"}
        %h3= t('bookyt.difference')

      - for @date in @dates
        %th{:style => "text-align: right"}
          %h3= currency_fmt(Account.by_type('current_assets').saldo(@date) + Account.by_type('capital_assets').saldo(@date) - Account.by_type('outside_capital').saldo(@date) - Account.by_type('equity_capital').saldo(@date))

= render 'bookings/sidebar'
