%style
  th.action-links {display: none}
  td.action-links {display: none}

.contextual
  = icon_link_to :pdf, :format => :pdf
  = icon_link_to :balance_sheet, :by_value_period => params[:by_value_period]
  = contextual_links_for

%h1
  = t('bookyt.profit_report_for', :company => @company, :per => @end_date)

%table{:width => "100%"}
  = render 'account_group_sheet', :group => 'costs'
  = render 'account_group_sheet', :group => 'earnings'

  - difference = Account.by_type('costs').saldo(@date) - Account.by_type('earnings').saldo(@date)
  - if difference != BigDecimal.new('0')
    %tr
      %th{:colspan => "2"}
        %h2= t('bookyt.difference')
      %th{:style => "text-align: right"}
        %h2= currency_fmt(difference)

= render 'bookings/sidebar'
