.contextual
  = icon_link_to :balance_sheet, :action => :balance_sheet, :by_value_period => params[:by_value_period]
  = contextual_links_for

%h1= t('bookyt.profit_report_for', :company => @company, :per => @end_date)

%table.zebra-striped.collection{:width => "100%"}
  %thead
    %tr
      %th{:colspan => "2"}
      -for @date in @dates
        %th{:style => "text-align: right"}
          %h2= @date.last.year

    = render 'account_group_sheet', :group => 'costs'
    = render 'account_group_sheet', :group => 'earnings'
  %thead
    %tr
      %th{:colspan => "2"}
        %h3= t('title.profit')

      - for @date in @dates
        %th{:style => "text-align: right"}
          %h3= currency_fmt(Account.by_type('earnings').saldo(@date) - Account.by_type('costs').saldo(@date))

= render 'bookings/sidebar'
