.contextual
  = icon_link_to :profit_sheet
  = icon_link_to :balance_sheet
  = contextual_links_for

%h1= link_to @tenant.company, @tenant.company

- @vcard = @tenant.company.vcard
= render 'persons/show'
%br
= t_attr(:vat_number) + ": " + @tenant.vat_number

.contextual
  = icon_link_to :new, new_tenant_attachment_path(resource), :remote => true
%h3= t('title.attachments')

- @attachments = resource.attachments
#attachments_list
  = render 'attachments/list' unless @attachments.empty?
