.contextual
  = icon_link_to :profit_sheet
  = icon_link_to :balance_sheet
  = contextual_links_for

%h1= link_to @tenant.company, @tenant.company

.form-view
  = render "form"

= render 'people/show_attachments'
= render 'tenants/sidebar'
