.contextual
  = icon_link_to :profit_sheet
  = icon_link_to :balance_sheet
  = contextual_links_for

%h1= link_to @tenant.company, @tenant.company

%ul.tabs
  %li.active= link_to t_title(:tenant), '#tab-tenant'
  %li= link_to t_title(:user), '#tab-users'
  %li= link_to t_title(:bookings), '#tab-bookings'
  %li= link_to t_title(:vesr), '#tab-vesr'
  %li= link_to t_title(:list, Attachment), '#tab-attachments'

= semantic_form_for @tenant do |f|
  .tab-content
    #tab-tenant.active= render "form_tenant", :f => f
    #tab-users= render "form_users", :f => f
    #tab-bookings= render "form_bookings", :f => f    
    #tab-vesr= render "form_vesr", :f => f
    #tab-attachments= render 'show_attachments'
= render 'tenants/sidebar'
