= semantic_form_for resource do |f|
  = f.semantic_errors

  = f.input :content
  %input{:type => 'hidden', :name => "#{parent_type}_id", :value => "#{parent.id}"}
  = f.input :user_id, :as => :hidden


  = f.buttons do
    = f.commit_button
