= contextual_links
.contextual
  = link_to t('bookyt.back_to', :name => parent.to_s), parent_url, :class => 'icon icon-edit'

%h2= t_title

= paginated_section collection do
  - if collection.any?
    = render "list"
