.contextual
  = link_to t_action(:index), eval("#{parent_type}_notes_path(#{resource.id})")

= boot_page_title

%table.table.table-striped{:class => "#{collection.first.class.to_s.downcase} detail"}
  %thead  
    %tr
      %th= t_attr(:content)
      %td= resource.content
  %tbody
    %tr
      %th= t_attr(:user)
      %td= resource.user
