.contextual
  = link_to t_action(:index), eval("#{parent_type}_notes_path(#{resource.id})")

%h1= t_title

%table{:class => "#{collection.first.class.to_s.downcase} detail"}
  %tr
    %th= t_attr(:content)
    %td= resource.content
  %tr
    %th= t_attr(:user)
    %td= resource.user
