= simple_form_for @employee do |f|
  = render 'address_form', :f => f

  %h3= t('form.person.civil')
  .row-fluid
    .span6
      = f.input :sex, :as => :select, :collection => { t('sex.male') => Person::MALE, t('sex.female') => Person::FEMALE }
      = f.input :nationality
      = f.input :date_of_birth, :as => :date_field
    .span6
      = f.association :civil_status
      = f.association :religion
      = f.input :social_security_nr

  = f.fields_for :employments, (@employments || f.object.employments.valid) do |employment|
    = employment.input :employer_id, :as => :hidden

    = render 'employments/fields', :f => employment

  = f.button :submit
