= semantic_form_for @employee do |f|
  = f.semantic_errors

  = f.inputs t('form.person.address') do
    = render 'vcards/form', :f => f

  = f.inputs t_model(PhoneNumber) do
    = link_to t_action(:more), [:new_phone_number, resource.persisted? ? resource : controller_name], :remote => true, :class => 'icon-add-text', :style => 'float: right'
    .nested-form.list.contacts
      = f.fields_for :vcard do |vcard|
        - vcard.object.contacts.build_defaults
        - vcard.fields_for :contacts do |contact|
          = render 'phone_numbers/form', :item => contact

  = f.inputs t('form.person.civil') do
    = f.input :sex, :as => :select, :collection => { t('sex.male') => Person::MALE, t('sex.female') => Person::FEMALE}, :wrapper_html => {:class => 'col1'}
    = f.input :civil_status, :wrapper_html => {:class => 'col2'}
    = f.input :nationality, :wrapper_html => {:class => 'col1'}
    = f.input :religion, :wrapper_html => {:class => 'col2'}
    = f.input :date_of_birth, :as => :date_field, :wrapper_html => {:class => 'col1'}
    = f.input :social_security_nr, :wrapper_html => {:class => 'col2'}

  = f.semantic_fields_for :employments do |employment|
    = employment.input :employer_id, :as => :hidden

    = render 'employments/fields', :f => employment

  = f.buttons do
    = f.commit_button
