= semantic_form_for @employee do |f|
  = f.semantic_errors

  = f.inputs t('form.person.address') do
    = render 'vcards/form', :f => f

  = f.inputs t('form.person.civil') do
    = f.input :code
    = f.input :sex, :as => :select, :collection => { t('sex.male') => Person::MALE, t('sex.female') => Person::FEMALE}, :input_html => {:class => 'combobox'}
    = f.input :date_of_birth, :as => :date_field
    = f.input :civil_status
    = f.input :religion
    = f.input :social_security_nr
    = f.input :social_security_nr_12



  = f.buttons do
    = f.commit_button
