%ul.tabs
  %li.active= link_to t_model, '#tab-contact'
  %li= link_to t_model(Salary), '#tab-salaries'
  %li= link_to t_title(:list, Invoice), '#tab-invoices'
  %li= link_to t_title(:list, Attachment), '#tab-attachments'

.tab-content
  #tab-contact.active= render "form"
  #tab-salaries= render 'show_salaries'
  #tab-invoices= render 'show_invoices'
  #tab-attachments= render 'show_attachments'
