= contextual_links
.contextual
  = link_to t_model(Note), employee_notes_path(@employee), :class => 'icon icon-index'

%h1= t_title

= render 'persons/show'
- @person = @employee
= render 'persons/civil'

.contextual
  = link_to t_action('new', Employment), new_employment_path, :remote => true, :class => "icon icon-add"
%h2= t_title :index, Employment

- @employments = @employee.employments
= render 'employments/list'

.contextual
  = link_to t_action('new', Salary), new_salary_path(:salary => {:company_id => @employee.id}), :remote => true, :class => "icon icon-add"
%h2= t_title :index, Salary

- @salaries = @employee.salaries
= render 'salaries/list'

.contextual
  = icon_link_to :new, new_employee_attachment_path(resource), :remote => true
%h3= t('title.attachments')

- @attachments = resource.attachments
#attachments_list
  = render 'attachments/list' unless @attachments.empty?
