.contextual
  = link_to t_action('edit'), edit_employee_path(@employee)
  = link_to t_action('index'), employees_path
%h1= t_title

= @employee.vcard.try(:full_name)

%h2= t_title :index, Employment

- @employments = @employee.employments.paginate(:page => params[:page])
= render 'employments/list'
