%h2= t_title(:edit, User)

= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = render :partial => 'form', :locals => {:f => f}
    
  = f.inputs t_model(Employee) do
    = f.input :person, :collection => Employee.all

  = f.buttons do
    = f.commit_button t('devise.update')
