%h2
  = t('devise.sign_up')

= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :email
    = f.input :password, :hint => false
    = f.input :password_confirmation

  = f.buttons do
    = f.commit_button t('devise.sign_up')

= render :partial => "devise/shared/links"
