%tr[employment]
  %td= employment.employer
  %td= employment.employee
  %td= "%s - %s" % [employment.duration_from, employment.duration_to]
  %td.action-links
    = link_to image_tag('16x16/edit.png', :title => 'Edit'), edit_employment_path(employment), :method => :get
    = link_to image_tag('16x16/remove.png', :title => 'Destroy'), employment_path(employment), :remote => true, :method => :delete, :confirm => t_confirm_delete(employment)
