= f.inputs t_model(Employment) do
  .row
    .span6
      = f.input :duration_from, :as => :date_field
      = f.input :temporary
      = f.input :workload
      = f.input :salary_amount

    .span6
      = f.input :duration_to, :as => :date_field
      = f.input :hourly_paid
      = f.input :daily_workload, :as => :string

      = f.input :kids

  .row
    .span12= f.input :payment_to, :input_html => {:rows => 1, :class => 'span12'}
