%table.list#employments_list
  %tr
    %th= t_attr :employer, Employment
    %th= t_attr :employee, Employment
    %th= t_attr :duration, Employment
    %th.currency= t_attr :salary_amount, Employment
    %th= t_attr :workload, Employment
    %th= t_attr :kids, Employment
    %th.action-links

  = render @employments
