%table.list.employment_list
  %tr
    %th= t_attr :employer
    %th= t_attr :employee
    %th= t_attr :duration
    %th.action-links

  = render @employments

  %tr
    %th{:colspan => "5", :style => "text-align: right"}= will_paginate @employments
