%table.list#employment_list
  %tr
    %th= t_attr :employer, Employment
    %th= t_attr :employee, Employment
    %th= t_attr :duration, Employment
    %th.action-links

  = render @employments

  %tr
    %th{:colspan => "5", :style => "text-align: right"}= will_paginate @employments
