.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to t_model, '#tab-contact', {:data => {:toggle => 'tab'}}
    %li= link_to t_title(:list, Invoice), '#tab-invoices', {:data => {:toggle => 'tab'}}
    %li= link_to t_title(:list, Activity), '#tab-activities', {:data => {:toggle => 'tab'}} if Bookyt::Engine.engines.include?('bookyt_projects')
    %li= link_to t_title(:list, Attachment), '#tab-attachments', {:data => {:toggle => 'tab'}}
  
  .tab-content
    #tab-contact.tab-pane.active
      = render "form"
    #tab-invoices.tab-pane
      = render 'show_invoices'
    #tab-activities.tab-pane
      = render 'show_activities' if Bookyt::Engine.engines.include?('bookyt_projects')
    #tab-attachments.tab-pane
      = render 'show_attachments'
