= contextual_links

%h1= t_title

= render 'persons/show', :vcard => resource.vcard

%h2= t_title :index, CreditInvoice

= render 'credit_invoices/list'

%h2= t_title :index, DebitInvoice

= render 'debit_invoices/list'

.contextual
  = icon_link_to :new, new_person_attachment_path(resource), :remote => true
%h3= t('title.attachments')

- @attachments = resource.attachments
#attachments_list
  = render 'attachments/list' unless @attachments.empty?
