= boot_page_title

%ul.tabs
  %li.active= link_to "Kontakte (#{@people.count})", '#contacts-tab'
  %li= link_to "Rechnungen (#{@invoices.count})", '#invoices-tab'

.tab-content
  #contacts-tab.active= render 'list', :records => @people
  #invoices-tab= render 'invoices/list', :collection => @invoices
