= boot_page_title

.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to "Kontakte (#{@people.count})", '#tab-contacts', {:data => {:toggle => 'tab'}}
    %li= link_to "Rechnungen (#{@invoices.count})", '#tab-invoices', {:data => {:toggle => 'tab'}}

.tab-content
  #tab-contacts.tab-pane.active
    = render 'people/list', :collection => @people
  #tab-invoices.tab-pane
    = render 'invoices/list', :collection => @invoices
    