= semantic_form_for @invoice do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :customer, :input_html => {:class => 'combobox'}
    = list_link_to(:new, Customer)
    = f.input :company, :input_html => {:class => 'combobox'}
    = f.input :title
    = f.input :amount
    = f.input :due_date, :as => :date_field
    = f.input :state, :collection => invoice_states_as_collection
    = f.input :remarks

  = f.buttons do
    = f.commit_button
