%tr[invoice]
  %td= link_to invoice.title, invoice, {'data-href-container' => 'tr'}
  %td= link_to invoice.customer, invoice.customer
  %td= invoice.amount
  %td.action-links
    = link_to image_tag('16x16/edit.png', :title => t('bookyt.edit')), edit_invoice_path(invoice), :method => :get
    = link_to image_tag('16x16/delete.png', :title => t('bookyt.destroy')), invoice_path(invoice), :remote => true, :method => :delete, :confirm => t_confirm_delete(invoice)
