%tr[invoice]
  %td= link_to invoice.customer, invoice.customer
  %td= link_to invoice.title, invoice, {'data-href-container' => 'tr'}
  %td= invoice.amount
  %td.action-links
    = list_link_for(:edit, invoice)
    = list_link_for(:delete, invoice)
