%tr[invoice]
  %td= link_to invoice.title, invoice, {'data-href-container' => 'tr'}
  %td= link_to invoice.customer, invoice.customer
  %td= invoice.amount
  %td.action-links
    = icon_edit_link_to edit_invoice_path(invoice)
    = icon_delete_link_to invoice, invoice_path(invoice)
