#info.block
  %h2
    = t('bookyt.invoices.payment_no', :payment_no => @invoice.id)
  %table
    %tr
      %th= t_attr :created_at
      %td= @invoice.created_at.to_date
    %tr
      %th= t_attr :due_date
      %td= @invoice.due_date
