%table.list#invoices_list
  %tr
    %th= t_attr :title
    %th= t_attr :customer
    %th= t_attr :amount
    %th.action-links

  = render @invoices

  %tr
    %th{:colspan => "5", :style => "text-align: right"}= will_paginate @invoices
