= render 'invoices/sidebar'

%table.list#invoices_list
  %tr
    %th= t_attr :value_date, Invoice
    %th= t_attr :company, Invoice
    %th= t_attr :title, Invoice
    %th= t_attr :due_date, Invoice
    %th.currency= t_attr :amount, Invoice
    %th.currency= t_attr :balance, Invoice
    %th.action-links

  = render @invoices

  %tr#invoices_list_footer
    %th{:style => "width: 10em"}= l Date.today
    %th{:colspan => 3}= t('bookyt.total')
    %th= currency_fmt(@invoices.to_a.sum(&:amount))
    %th= currency_fmt(@invoices.to_a.sum(&:balance))
    %th
