%table.list.invoice_list
  %tr
    %th= t_attr :title, Invoice
    %th= t_attr :customer, Invoice
    %th= t_attr :amount, Invoice
    %th.action-links

  = render @invoices

  %tr
    %th{:colspan => "5", :style => "text-align: right"}= will_paginate @invoices
