%table.list#invoices_list
  %tr
    %th= t_attr :title, t('activerecord.attributes.invoice.invoice')
    %th= t_attr :customer, t('activerecord.attributes.invoice.invoice')
    %th= t_attr :amount, t('activerecord.attributes.invoice.invoice')
    %th.action-links

  = render @invoices

  %tr
    %th{:colspan => "5", :style => "text-align: right"}= will_paginate @invoices
