= contextual_links

= boot_page_title
%ul.overview-list.level-1
  %li
    = link_to t_model(DebitInvoice), debit_invoices_path
    %ul.overview-list.level-2
      %li= link_to "Offene Rechnungen", debit_invoices_path(:by_state => :booked)
      %li= link_to "Überfällige Rechnungen", debit_invoices_path(:overdue => true)
      %li= link_to "Neue Rechnung", new_debit_invoice_path

  %li
    = link_to t_model(CreditInvoice), credit_invoices_path
    %ul.overview-list.level-2
      %li= link_to "Offene Rechnungen", credit_invoices_path(:by_state => :booked)
      %li= link_to "Überfällige Rechnungen", credit_invoices_path(:overdue => true)
      %li= link_to "Neue Rechnung", new_credit_invoice_path

  %li
    = link_to "VESR", esr_files_path
    %ul.overview-list.level-2
      %li= link_to "VESR Datei einlesen", new_esr_file_path
      %li= link_to "VESR Journal", esr_files_path
