.contextual
  = icon_link_to t('bookyt.pdf'), invoice_path(:format => :pdf)
  = contextual_links_for

%h1= t_title

#invoice{:style =>"position: relative"}
  = render 'invoice_info'
  = render 'invoice_parties'
  = render 'invoice_body'
