.contextual
  = link_to t_action('edit'), edit_invoice_path(@invoice)
  = link_to t_action('index'), invoices_path
%h1= t_title

#invoice{:style =>"position: relative"}
  = render 'invoice_info'
  = render 'invoice_parties'
  = render 'invoice_body'
