<h1>Bilanz f&uuml;r <%= @client.name %> <%= @year %></h1>
<% form_tag(:action=> :show) do %>
  Stichdatum: <%= text_field 'balance', 'date', {:value => @date} %>
  <%= submit_tag 'Los' %>
<% end %>


<style>
@media print {
  form {
    display: none;
  }
  body {
    background: white;
  }

}

.currency {
  text-align: right;
}

td {
  vertical-align: top;
}
</style>

<table id="balance-sheet">
  <tr>
    <th>Umlaufverm&ouml;gen</th>
    <th>Fremdkapital</th>
  </tr>
  <tr>
    <td class="current-assets" style="background-color: #00FF00">
      <table width="100%">
        <tr>
          <th>Konto</th>
          <th>Saldo</th>
        </tr>
      
        <% for account in @client.current_assets.select{|a| a.saldo != 0.0} %>
        <tr>
          <td><%= link_to "#{account.number} - #{account.title}", :controller => 'accounts', :action => 'show', :id => account %></td>
          <td class="currency"><%= currency_fmt(account.saldo) %></td>
        <tr>
        <% end %>
      
        <tr style="background-color: #000000; color: #FFFFFF">
          <th>Total</th>
          <th class="currency"><%= currency_fmt(@client.saldo(:current_assets)) %></th>
        <tr>
      </table>
    </td>
    <td style="background-color: #FF0000">
      <table width="100%">
        <tr>
          <th>Konto</th>
          <th>Saldo</th>
        </tr>
      
        <% for account in @client.outside_capital.select{|a| a.saldo != 0.0} %>
        <tr>
          <td><%= link_to "#{account.number} - #{account.title}", :controller => 'accounts', :action => 'show', :id => account %></td>
          <td class="currency"><%= currency_fmt(-account.saldo) %></td>
        <tr>
        <% end %>
      
        <tr style="background-color: #000000; color: #FFFFFF">
          <th>Total</th>
          <th class="currency"><%= currency_fmt(-@client.saldo(:outside_capital)) %></th>
        <tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>Anlagevermögen</th>
    <th>Eigenkapital</th>
  </tr>
  <tr>
    <td style="background-color: #00AA00">
      <table width="100%">
        <tr>
          <th>Konto</th>
          <th>Saldo</th>
        </tr>
      
        <% for account in @client.capital_assets.select{|a| a.saldo != 0.0} %>
        <tr>
          <td><%= link_to "#{account.number} - #{account.title}", :controller => 'accounts', :action => 'show', :id => account %></td>
          <td class="currency"><%= currency_fmt(account.saldo) %></td>
        <tr>
        <% end %>
      
        <tr style="background-color: #000000; color: #FFFFFF">
          <th>Total</th>
          <th class="currency"><%= currency_fmt(@client.saldo(:capital_assets)) %></th>
        <tr>
      </table>
    </td>
    <td style="background-color: #AA0000">
      <table width="100%">
        <tr>
          <th>Konto</th>
          <th>Saldo</th>
        </tr>
      
        <% for account in @client.equity_capital.select{|a| a.saldo != 0.0} %>
        <tr>
          <td><%= link_to "#{account.number} - #{account.title}", :controller => 'accounts', :action => 'show', :id => account %></td>
          <td class="currency"><%= currency_fmt(-account.saldo) %></td>
        <tr>
        <% end %>
      
        <tr style="background-color: #000000; color: #FFFFFF">
          <th>Total</th>
          <th class="currency"><%= currency_fmt(-@client.saldo(:equity_capital)) %></th>
        <tr>
      </table>
    </td>
  </tr>
  <tr style="background-color: #000000; color: #FFFFFF">
    <td>Total: <%= currency_fmt(@client.saldo(:current_assets) + @client.saldo(:capital_assets)) %></td>
    <td>Total: <%= currency_fmt(-(@client.saldo(:outside_capital) + @client.saldo(:equity_capital))) %></td>
  </tr>
  <tr style="background-color: black; color: white">
    <th>Differenz</th>
    <td class="currency"><%= currency_fmt(@client.saldo(:current_assets) + @client.saldo(:capital_assets) + @client.saldo(:outside_capital) + @client.saldo(:equity_capital)) %></td>
  </tr>
</table>
