<h1>Bilanz f&uuml;r <%= @client.name %> <%= @year %></h1>
<div id="balance-sheet">
  <% form_tag(:action=> :show) do %>
    Stichdatum: <%= text_field 'balance', 'date', {:value => @date} %>
    <%= submit_tag 'Los' %>
  <% end %>

  <table>
    <tr>
      <th>Umlaufverm&ouml;gen</th>
      <th>Fremdkapital</th>
    </tr>
    <tr>
      <td class="current-assets" style="background-color: #00FF00">
        <table width="100%">
          <%= render 'accounts/list_header' %>
          <%= render Account.current_assets.all.select{|a| a.saldo(@date) != 0.0} %>
        
          <tr class="total">
            <th colspan="2">Total</th>
            <th class="currency"><%= currency_fmt(Account.current_assets.saldo(@date)) %></th>
          <tr>
        </table>
      </td>
      <td style="background-color: #FF0000">
        <table width="100%">
          <%= render 'accounts/list_header' %>
          <%= render Account.outside_capital.all.select{|a| a.saldo(@date) != 0.0} %>
        
          <tr class="total">
            <th colspan="2">Total</th>
            <th class="currency"><%= currency_fmt(Account.outside_capital.saldo(@date)) %></th>
          <tr>
        </table>
      </td>
    </tr>
    <tr>
      <th>Anlagevermögen</th>
      <th>Eigenkapital</th>
    </tr>
    <tr>
      <td style="background-color: #00AA00">
        <table width="100%">
          <%= render 'accounts/list_header' %>
          <%= render Account.capital_assets.all.select{|a| a.saldo(@date) != 0.0} %>
        
          <tr class="total">
            <th colspan="2">Total</th>
            <th class="currency"><%= currency_fmt(Account.capital_assets.saldo(@date)) %></th>
          <tr>
        </table>
      </td>
      <td style="background-color: #AA0000">
        <table width="100%">
          <%= render 'accounts/list_header' %>
          <%= render Account.equity_capital.all.select{|a| a.saldo(@date) != 0.0} %>
        
          <tr class="total">
            <th colspan="2">Total</th>
            <th class="currency"><%= currency_fmt(Account.equity_capital.saldo(@date)) %></th>
          <tr>
        </table>
      </td>
    </tr>
    <tr class="total">
      <td>Total: <%= currency_fmt(Account.current_assets.saldo(@date) + Account.capital_assets.saldo(@date)) %></td>
      <td>Total: <%= currency_fmt(Account.outside_capital.saldo(@date) + Account.equity_capital.saldo(@date)) %></td>
    </tr>
    <% difference = (Account.current_assets.saldo(@date) + Account.capital_assets.saldo(@date)) - (Account.outside_capital.saldo(@date) + Account.equity_capital.saldo(@date)) %>
    <% if difference != 0 %>
    <tr class="total">
      <th>Differenz</th>
      <td class="currency"><%= currency_fmt(difference) %></td>
    </tr>
    <% end %>
  </table>
</div>
