= simple_form_for resource do |f|

  %h3= t('form.person.address')
  = render 'vcards/form', :f => f

  %h3= t_model(PhoneNumber)
  .nested-form.list.contacts
    = f.fields_for :vcard do |vcard|
      - vcard.object.contacts.build_defaults
      - vcard.fields_for :contacts do |contact|
        = render 'phone_numbers/form', :item => contact
  = link_to [:new_phone_number, resource.persisted? ? resource : controller_name], :remote => true, :class => 'btn' do
    %i.icon-plus
    =t_action(:more)

  %h3= t('form.bank.money_transfer')
  = f.input :swift
  = f.input :clearing

  = f.button :submit
