- item_click = {:action => :show, :id => booking}.merge(item_action)

%tr{:id => "booking_#{booking.id}"}
  %td= booking.value_date
  %td
    = link_to booking.title, url_for(item_click)
    - if booking.comments.present?
      %hr{:style => "height: 1px; margin: 0"}/
      %i= booking.comments
  %td{:style => "text-align: right"}= link_to booking.credit_account.code, account_path(booking.credit_account), :title => booking.credit_account.title unless booking.credit_account.nil?
  %td{:style => "text-align: right"}= link_to booking.debit_account.code, account_path(booking.debit_account), :title => booking.debit_account.title unless booking.debit_account.nil?
  %td{:style => "text-align: right"}= currency_fmt(booking.amount)
  %td.action-links
    = link_to image_tag('16x16/edit.png', :title => 'Edit'), edit_booking_path(booking), :method => :get
    = link_to image_tag('16x16/remove.png', :title => 'Destroy'), booking_path(booking), :remote => true, :method => :delete, :confirm => t_confirm_delete(booking)
    =# link_to image_tag('16x16/copy.png', :title => 'Copy'), copy_booking_path(booking), :remote => true
