- @booking = booking
%tr{:id => "booking_#{h @booking.id}"}
  %td{:style => "border: 0 none; border-top: 2px solid"}= in_place_editor_field :booking, :in_place_value_date
  %td
    = in_place_editor_field :booking, :title
    = '<hr style="height: 0px; margin: 0"/>' unless booking.comments.nil? or booking.comments.empty?
    %i= in_place_editor_field :booking, :comments
  %td{:style => "text-align: right; border-left: none"}= link_to h(booking.credit_account.title), :controller => :accounts, :action => :show, :id => booking.credit_account unless booking.credit_account.nil?
  %td{:style => "text-align: left; border-right: none"}= link_to h(booking.debit_account.title), :controller => :accounts, :action => :show, :id => booking.debit_account unless booking.debit_account.nil?
  %td{:style => "text-align: right"}= in_place_editor_field :booking, :in_place_amount
  %td= link_to 'Edit', { :action => 'edit', :id => booking }, :method => :post
  %td= link_to 'Destroy', { :action => 'destroy', :id => booking }, :confirm => 'Are you sure?', :method => :post
  %td= link_to_remote 'Copy', :url => { :action => 'copy', :id => booking }, :position => :after, :update => "booking_#{booking.id}"
