= simple_form_for @booking do |f|
  .row-fluid
    .span6
      = f.input :title, :input_html => {"data-autofocus" => true}
    .span6
      = f.input :value_date, :as => :date_field
  .row-fluid
    .span6
      = f.input :amount, :as => :string, :input_html => {:size => 12}
    .span6
      = f.input :code

  .row-fluid
    .span6
      = f.association :credit_account, :collection => accounts_as_collection(Account.all), :as => :combobox
    .span6
      = f.association :debit_account, :collection => accounts_as_collection(Account.all), :as => :combobox

  .row-fluid
    .span12
      = f.input :comments, :input_html => {:rows => 4}

  .row-fluid
    .span6
      = f.input :reference_type, :as => :select, :collection => reference_types_as_collection
    .span6
      = f.input :reference_id, :collection => suggested_invoices_for_booking(@booking), :as => :combobox

  = f.button :submit
