= semantic_form_for @booking do |f|
  = f.semantic_errors

  = f.inputs do
    .row
      .span5
        = f.input :title, :input_html => {"data-autofocus" => true}
      .span5
        = f.input :value_date, :as => :date_field
    .row
      .span5
        = f.input :amount, :as => :string, :input_html => {:size => 12}
      .span5
        = f.input :code

    .row
      .span10
        = f.input :comments, :input_html => {:rows => 4, :class => 'span10'}

    .row
      .span5
        = f.input :credit_account, :as => :combobox
      .span5
        = f.input :debit_account, :as => :combobox

  = f.buttons do
    = f.commit_button
