= simple_form_for @booking do |f|

  .row-fluid
    .span6
      = f.input :title, :input_html => {"data-autofocus" => true}
    .span6
      = f.input :value_date, :as => :date_field
  .row-fluid
    .span6
      = f.input :amount, :as => :string, :input_html => {:size => 12}
    .span6
      = f.input :code

  .row-fluid
    .span12
      = f.input :comments, :input_html => {:rows => 4}

  .row-fluid
    .span6
      = f.input :credit_account, :as => :text
    .span6
      = f.input :debit_account, :as => :text

  = f.button :submit

