<div class="contextual">
  <%= link_to t_action('show'), @booking %>
  <%= link_to t_action('back'), bookings_path %>
  <%= link_to t_action('delete'), @booking, :confirm => t_confirm_delete(@booking), :method => :delete %>
</div>
<h2><%= t_title %></h2>

<%= render :partial => 'form' %>
