.contextual
  = icon_link_to :print, :format => :pdf, :by_value_period => params[:by_value_period], :years => params[:years], :per_page => 10000
  = contextual_links_for

= boot_page_title
= render 'search_form'

= paginated_section @bookings do
  = render 'list'

= render 'bookings/sidebar'
