= contextual_links

= boot_page_title(BookingTemplate)
= render 'booking_templates/list', :item_action => lambda{|object| new_booking_booking_template_path(object)}

= boot_page_title
= render 'new_form'

