= simple_form_for @user do |f|
  .row-fluid
    .span6= f.input :login if @user.respond_to? :login
    .span6= f.input :email, :required => true
  .row-fluid
    .span6= f.input :password, :hint => !f.object.new_record?, :required => f.object.new_record?, :input_html => {:autocomplete => "off"}
    .span6= f.input :password_confirmation, :required => f.object.new_record?
  - unless can?(:manage, User)
    .row-fluid
      .span6= f.input :current_password, :required => true
  .row-fluid
    .span6= f.input :role_texts, :as => :select, :collection => Ability.roles_for_collection, :include_blank => false, :input_html => {:multiple => 'multiple', :class => 'span select2'}, :required => true if can?(:manage, Role)

  - f.object.build_person unless f.object.person
  %h3= t('form.person.address')
  = f.fields_for :person do |p|
    = render 'vcards/form', :f => p, :full_vcard => true

  .form-actions
    = f.button :submit
