= semantic_form_for @user do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email
    = f.input :password, :hint => !f.object.new_record?, :input_html => {:autocomplete => "off"}
    = f.input :password_confirmation
    = f.input :current_password, :required => true unless can?(:manage, User)
    = f.input :role_texts, :as => :select, :collection => Ability.roles_for_collection, :include_blank => false, :input_html => {:multiple => 'multiple'}, :required => true if can?(:manage, Role)
    = f.input :locale, :as => :radio, :collection => [['Deutsch Schweiz', 'de-CH'], ['English', 'en']]

    - f.object.build_person unless f.object.person
    = f.inputs t('form.person.address') do
      = f.semantic_fields_for :person do |p|
        = render 'vcards/form', :f => p

  = f.buttons do
    = f.commit_button
