%table.table.table-striped.users.collection
  %thead
    %tr
      %th= t_attr :name
      %th= t_attr :email
      %th= t_attr :roles
      %th= t_attr :created_at
      %th.action-links
  %tbody
    = render @users
