%table.list#user_list
  %tr
    %th= t_attr :name
    %th= t_attr :email
    %th= t_attr :roles
    %th= t_attr :created_at
    %th.action-links

  = render @users

  %tr
    %th{:colspan => "6", :style => "text-align: right"}= will_paginate @users
