%table
  %tr   
    %th= t_attr :street_address
    %td= @user.person.vcard.street_address
  %tr   
    %th= t_attr :locality
    %td= @user.person.vcard.locality        
  %tr   
    %th= t_attr :postal_code
    %td= @user.person.vcard.postal_code        
  %tr   
    %th= t_attr :country_name
    %td= @user.person.vcard.country_name  