%tr[debit_invoice]
  %td= debit_invoice.value_date
  %td
    = link_to debit_invoice, {'data-href-container' => 'tr'} do
      = debit_invoice.to_s
      = invoice_label(debit_invoice)
  %td= link_to debit_invoice.customer, debit_invoice.customer
  %td= debit_invoice.due_date
  %td.currency= currency_fmt(debit_invoice.amount)
  %td.currency= currency_fmt(debit_invoice.due_amount)
  %td.action-links
    = list_link_for(:edit, debit_invoice)
    = list_link_for(:copy, debit_invoice)
    = list_link_to(:print, letter_debit_invoice_path(debit_invoice, :format => :pdf))
