= semantic_nested_form_for resource do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :company_id, :as => :hidden
    - unless action_name.eql?'new'
      = f.input :state, :collection => invoice_states_as_collection
    = f.input :customer, :input_html => {:class => 'combobox', 'data-autofocus' => true}
    = f.input :title
    = f.input :value_date, :as => :date_field
    = f.input :due_date, :as => :date_field
    = f.input :text, :input_html => {:rows => 4}
    = f.input :remarks, :input_html => {:rows => 2}

  = f.inputs t('title.line_items') do
    %div
      %span{:style => 'display: inline-block; padding: 2px; width: 85px'}= t_attr(:date, LineItem)
      %span{:style => 'display: inline-block; padding: 2px; width: 30em'}= t_attr(:title, LineItem)
      %span{:style => 'display: inline-block; padding: 2px; width: 3em'}= t_attr(:times, LineItem)
      %span{:style => 'display: inline-block; padding: 0px; width: 6em'}= t_attr(:quantity, LineItem)
      %span{:style => 'display: inline-block; padding: 2px; width: 3em'}= t_attr(:price, LineItem)
      %span{:style => 'display: inline-block; padding: 2px; width: 6em'}= t_attr(:vat_rate, LineItem)
    = f.fields_for :line_items do |line_item|
      = render 'line_items/form', :line_item => line_item
      = line_item.link_to_remove t_action(:delete), :class => 'icon-delete-text', :style => 'float: none; display: inline-block'
    %div
      = f.link_to_add t_action(:more), :line_items, :class => 'icon-add-text'

  = f.inputs t('title.period') do
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field

  = f.inputs do
    = f.semantic_fields_for :attachments do |a|
      = a.input :title
      = a.input :file, :as => :file

  = f.buttons do
    = f.commit_button
