= simple_form_for resource do |f|
  = f.input :company_id, :as => :hidden
  .row-fluid
    .span12= f.input :title
  .row-fluid
    .span6= f.association :customer, :as => :combobox, :input_html => {'data-autofocus' => true}
    .span6= f.input :state, :collection => invoice_states_as_collection
  .row-fluid
    .span6= f.input :value_date, :as => :date_field
    .span6= f.input :due_date, :as => :date_field
  .row-fluid
    .span6= f.input :duration_from, :as => :date_field
    .span6= f.input :duration_to, :as => :date_field
  .row-fluid
    .span12= f.input :text, :input_html => {:rows => 4}
  .row-fluid
    .span12= f.input :remarks, :input_html => {:rows => 4}

  = render 'line_items/list_form', :f => f, :invoice => resource

  .form-actions
    = f.button :submit, :class => 'btn-primary'
