= semantic_nested_form_for resource do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :company_id, :as => :hidden
    = f.input :state, :collection => invoice_states_as_collection
    .combobox-action= list_link_for(:new, Customer, :target => 'blank')
    = f.input :customer, :input_html => {:class => 'combobox', 'data-autofocus' => true}
    = f.input :title
    = f.input :code
    = f.input :value_date, :as => :date_field
    = f.input :due_date, :as => :date_field
    = f.input :amount
    = f.input :remarks, :input_html => {:rows => 4}

  = f.inputs t('title.period') do
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field

  = f.inputs t('title.line_items') do
    = f.fields_for :line_items do |line_item|
      = line_item.input :date, :as => :date_field, :required => true
      = line_item.input :title, :required => true
      = line_item.input :quantity, :required => true, :input_html => {:style => 'width: 3em'}
      = line_item.input :price, :required => true, :input_html => {:style => 'width: 3em'}
      = line_item.link_to_remove t_action(:delete)
    = f.link_to_add t_action(:new), :line_items

  = f.inputs do
    = f.semantic_fields_for :attachments do |a|
      = a.input :title
      = a.input :file, :as => :file

  = f.buttons do
    = f.commit_button
