= semantic_form_for resource, :html => {:multipart => true} do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :company_id, :as => :hidden
    = f.input :state, :collection => states_as_collection
    = f.input :customer, :input_html => {:class => 'combobox', 'data-autofocus' => true}
    = f.input :title
    = f.input :value_date, :as => :date_field
    = f.input :amount
    = f.input :due_date, :as => :date_field
    = f.input :remarks

  = f.inputs do
    = f.semantic_fields_for :attachments do |a|
      = a.input :title
      = a.input :file, :as => :file

  = f.buttons do
    = f.commit_button
