= semantic_nested_form_for resource do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :company_id, :as => :hidden
    - unless action_name.eql?'new'
      = f.input :state, :collection => invoice_states_as_collection
    = f.input :customer, :as => :combobox, :input_html => {'data-autofocus' => true}
    = f.input :title
    = f.input :value_date, :as => :date_field
    = f.input :due_date, :as => :date_field
    = f.input :text, :input_html => {:rows => 4}
    = f.input :remarks, :input_html => {:rows => 2}

  = f.inputs t('title.line_items') do
    %table#line_items
      %thead
        %tr
          %th{:style => 'padding: 2px; width: 85px'}= t_attr(:date, LineItem)
          %th{:style => 'padding: 2px; width: 30em'}= t_attr(:title, LineItem)
          %th{:style => 'padding: 2px; width: 3em'}= t_attr(:times, LineItem)
          %th{:style => 'padding: 0px; width: 6em'}= t_attr(:quantity, LineItem)
          %th{:style => 'padding: 2px; width: 3em'}= t_attr(:price, LineItem)
          %th{:style => 'padding: 2px; width: 6em'}= t_attr(:vat_rate, LineItem)
          %th.action_links= link_to t_action(:more), new_debit_invoice_line_item_path(resource), :remote => true, :class => 'icon-add-text'
      %tbody
        = f.fields_for :line_items do |line_item|
          = render 'line_items/form', :line_item => line_item

  = f.inputs t('title.period') do
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field

  = f.inputs do
    = f.semantic_fields_for :attachments do |a|
      = a.input :title
      = a.input :file, :as => :file

  = f.buttons do
    = f.commit_button
