#info.block
  %h2
    = t('bookyt.invoices.payment_no', :payment_no => @debit_invoice.id)
  %table.table.table-striped
    %tbody
      %tr
        %th= t_attr :value_date, Invoice
        %td= @debit_invoice.value_date.to_date
    %tbody
      %tr
        %th= t_attr :due_date, Invoice
        %td= @debit_invoice.due_date
