- @debit_invoices = debit_invoices if defined?(debit_invoices)
= render 'invoices/sidebar'

%table.zebra-striped.invoices.collection
  %thead
    %tr
      %th= t_attr :value_date, Invoice
      %th= t_attr :title, Invoice
      %th= t_attr :customer, Invoice
      %th= t_attr :due_date, Invoice
      %th.currency= t_attr :amount, Invoice
      %th.currency= t_attr :balance, Invoice
      %th.action-links
  %tbody
    = render @debit_invoices
  %tfoot
    %tr#invoices_list_footer
      %th{:style => "width: 10em"}= l Date.today
      %th{:colspan => 3}= t('bookyt.total')
      %th.currency= currency_fmt(@debit_invoices.to_a.sum(&:amount))
      %th.currency= currency_fmt(@debit_invoices.to_a.sum(&:balance))
      %th
