.contextual
  - if current_tenant.debit_direct_identification.present?
    = icon_link_to :'list-alt', debit_direct_files_path, :method => :post
  = contextual_links_for

= boot_page_title

= render 'search_form'

= paginated_section collection do
  = render 'list'

= render 'invoices/sidebar'
