.contextual
  = icon_link_to t('bookyt.pdf'), letter_debit_invoice_path(:format => :pdf)
  = contextual_link_to :show
  = contextual_links_for :show

#invoice{:style =>"position: relative"}
  = render 'invoice_info'
  = render 'invoice_parties'
  = render 'invoice_body'
