.contextual
  = link_to t_action('show'), @client
  = link_to t_action('index'), clients_path
  = link_to t_action('delete'), @client, :confirm => t_confirm_delete(@client), :method => :delete
%h2= t_title

= render :partial => 'form'
