%tr[attachment]
  %td= link_to attachment.title, "/uploads/#{resource_class.to_s.underscore}/#{attachment.id}/#{File.basename(attachment.file.url)}", {'data-href-container' => 'tr'}
  %td.action-links
    = list_link_for(:edit, attachment)
    = icon_delete_link_to attachment, attachment_url(attachment)
