<h1>Listing account_types</h1>

<table>
  <tr>
  <% for column in AccountType.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for account_type in @account_types %>
  <tr>
  <% for column in AccountType.content_columns %>
    <td><%=h account_type.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => account_type %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => account_type %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => account_type }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @account_type_pages.current.previous } if @account_type_pages.current.previous %>
<%= link_to 'Next page', { :page => @account_type_pages.current.next } if @account_type_pages.current.next %> 

<br />

<%= link_to 'New account_type', :action => 'new' %>
