%h1 Listing account_types
%table
  %tr
    - for column in AccountType.content_columns
      %th= column.human_name
  - for account_type in @account_types
    %tr
      - for column in AccountType.content_columns
        %td= h account_type.send(column.name)
        %td= link_to 'Show', :action => 'show', :id => account_type
        %td= link_to 'Edit', :action => 'edit', :id => account_type
        %td= link_to 'Destroy', { :action => 'destroy', :id => account_type }, :confirm => 'Are you sure?', :post => true
= will_paginate @account_types
%br/
= link_to 'New account_type', :action => 'new'
