%h1= "Einstellungen"

%ul.overview-list.level-1
  %li#overview-invoicing
    = t_model(Invoice)
    %ul.overview-list.level-2
      %li= link_to t('bookyt.settings.vesr.title'), vesr_settings_path
      %li= link_to t('bookyt.settings.due.title')

  %li#overview-contacts
    = t_model(User)
    %ul.overview-list.level-2
      %li= link_to t('bookyt.settings.user.title'), current_user
      %li= link_to t('bookyt.settings.users.title'), users_path if current_user.role?(:admin)
      %li= link_to t('bookyt.settings.tenant.title'), current_tenant

  %li#overview-accounting
    = t('bookyt.settings.book_keeping.title')
    %ul.overview-list.level-2
      %li= link_to t('bookyt.settings.account_types.title'), account_types_path
      %li= link_to t('bookyt.settings.booking_templates.title'), booking_templates_path
      %li= link_to t('bookyt.settings.charge_booking_templates.title'), charge_booking_templates_path
      %li= link_to t('bookyt.settings.charge_rates.title'), charge_rates_path

  %li#overview-projects
    = t_model(Project)
    %ul.overview-list.level-2
      %li= link_to t('bookyt.settings.project_states.title'), project_states_path
