= boot_page_title t_title(:vesr)

.form-view
  = simple_form_for :vesr do |form|

    %h3= 'Allgemein'
    = form.fields_for @tenant do |f|
      = render :partial => 'form_fields', :locals => {:form => f}

    %h3= 'Konto'
    = form.fields_for @bank_account do |f|
      = f.input :id, :as => :hidden

      = f.input :number
      = f.input :iban
      = f.input :pc_id
      = f.input :esr_id, :input_html => { :maxlength => 21 }

    %h3= 'Vorlage'
    = form.fields_for @letter_template do |f|
      = f.input :id, :as => :hidden

      = f.input :title
      = f.input :file

    = form.button :submit
