%h2 VESR Einstellungen

.form-view
  = semantic_form_for :vesr do |form|
    = form.inputs 'Allgemein' do
      = form.semantic_fields_for @tenant do |f|
        = f.input :id, :as => :hidden
        = f.semantic_errors

        = f.input :use_vesr
        = f.input :print_payment_for

    = form.inputs 'Konto' do
      = form.semantic_fields_for @bank_account do |f|
        = f.input :id, :as => :hidden
        = f.semantic_errors

        = f.input :number
        = f.input :iban
        = f.input :pc_id
        = f.input :esr_id, :input_html => { :maxlength => 21 }

    = form.inputs 'Vorlage' do
      = form.semantic_fields_for @letter_template do |f|
        = f.input :id, :as => :hidden
        = f.semantic_errors

        = f.input :title
        = f.input :file

    = form.buttons do
      = form.commit_button
