%tr[credit_invoice]
  %td= credit_invoice.value_date
  %td= credit_invoice.code
  %td
    = link_to credit_invoice, {'data-href-container' => 'tr'} do
      = credit_invoice.to_s
      = invoice_label(credit_invoice)
  %td= link_to credit_invoice.company, credit_invoice.company
  %td= credit_invoice.due_date
  %td.currency= currency_fmt(credit_invoice.amount)
  %td.currency= currency_fmt(credit_invoice.due_amount)
  %td.action-links
    = list_link_for(:edit, credit_invoice)
    = list_link_for(:copy, credit_invoice)
