= semantic_nested_form_for resource do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :customer_id, :as => :hidden
    = f.input :state, :collection => invoice_states_as_collection
    = f.input :company, :as => :combobox, :input_html => {'data-autofocus' => true}
    = f.input :title
    = f.input :code
    = f.input :value_date, :as => :date_field
    = f.input :due_date, :as => :date_field
    = f.input :remarks, :input_html => {:rows => 4}

  = f.inputs t('title.line_items') do
    %table#line_items
      %thead
        = render 'line_items/list_header', :invoice => resource
      %tbody
        = f.fields_for :line_items do |line_item|
          = render 'line_items/form', :line_item => line_item
      %tfoot
        = render 'line_items/list_footer', :total_amount => resource.amount

  = f.inputs t('title.period') do
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field

  = f.inputs do
    = f.semantic_fields_for :attachments do |a|
      = a.input :title
      = a.input :file, :as => :file

  = f.buttons do
    = f.commit_button
