= contextual_links

%h1= t_title

= render 'persons/show'

.contextual
  = icon_link_to :new, new_vcard_phone_number_url(resource.vcard), :remote => true

%h2= t_model PhoneNumber
= render 'phone_numbers/list', :phone_numbers => resource.vcard.contacts


.contextual
  = icon_link_to :new, new_debit_invoice_path(:invoice => {:customer_id => resource})

%h2= t('title.open_invoices')
= render 'debit_invoices/list', :debit_invoices => @open_debit_invoices

%h2= t('title.paid_invoices')
= render 'debit_invoices/list', :debit_invoices => @paid_debit_invoices

.contextual
  = icon_link_to :new, new_customer_attachment_path(resource), :remote => true
%h3= t('title.attachments')

- @attachments = resource.attachments
#attachments_list
  = render 'attachments/list' unless @attachments.empty?
