= contextual_links

%h1= t_title

= render 'persons/show'

.contextual
  = icon_link_to :new, new_debit_invoice_path(:invoice => {:customer_id => resource})
%h2= t('bookyt.main_navigation.invoicing')

= render 'credit_invoices/list'

.contextual
  = icon_link_to :new, new_customer_attachment_path(resource), :remote => true
%h3= t('title.attachments')

- @attachments = resource.attachments
#attachments_list
  = render 'attachments/list' unless @attachments.empty?
