= contextual_links

%h1= t_title

= render 'people/show'

.contextual
  = icon_link_to :new, new_debit_invoice_path(:invoice => {:customer_id => resource})

%h2= t('title.open_invoices')
= render 'debit_invoices/list', :debit_invoices => @open_debit_invoices

%h2= t('title.paid_invoices')
= render 'debit_invoices/list', :debit_invoices => @paid_debit_invoices

= render 'show_attachments'
