%table.list#salaries_list
  %tr
    %th= t_attr :value_date, Invoice
    %th= t_attr :company, Invoice
    %th= t_attr :title, Invoice
    %th= t_attr :due_date, Invoice
    %th.currency= t_attr :amount, Salary
    %th.currency= t_attr :net_amount, Salary
    %th.currency= t_attr :balance, Invoice
    %th.action-links

  = render @salaries
