%tr[salary]
  %td= salary.value_date
  %td= link_to salary.company, salary.company
  %td= link_to salary.title, salary, {'data-href-container' => 'tr'}
  %td= salary.due_date
  %td.currency= currency_fmt(salary.amount)
  %td.currency= currency_fmt(salary.balance)
  %td.action-links
    = icon_edit_link_to edit_salary_path(salary)
