= simple_form_for @charge_rate do |f|
  = f.input :title
  = f.input :code
  = f.input :rate, :input_html => {:style => "width: 3em"}
  = f.input :relative
  = f.association :person, :as => :combobox

  %h3= t('title.period')
  = f.input :duration_from, :as => :date_field
  = f.input :duration_to, :as => :date_field

  = f.button :submit