= semantic_form_for @charge_rate do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title
    = f.input :code
    = f.input :rate, :input_html => {:size => 3}
    = f.input :person, :input_html => {:class => 'combobox'}

  = f.inputs t('title.period') do
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field

  = f.buttons do
    = f.commit_button
