%table.zebra-striped.charge_rates.collection
  %thead
    %tr
      %th= t_attr :title
      %th= t_attr :code
      %th= t_attr :duration
      %th= t_attr :person
      %th.right= t_attr :rate
      %th.action-links
  %tbody
    = render @charge_rates
