= form_for @register, :remote => true, :as =>:cash_register, :url => {:action => 'calculate_cash'}, :html => {:class => 'formtastic cash_register_new'} do |f|
  %ul.first
    - for i in [ 200, 100, 50, 20, 10 ]
      %li
        %label
          = h i
          x
        = f.text_field i, :type => 'number'
  %ul.second
    - for i in [ 5, 2, 1, 0.5, 0.2, 0.1, 0.05 ]
      %li
        %label
          = h i
        = f.text_field i, :type => 'number'
  %ul#result
    %li
      %label
        = t('activerecord.attributes.day.total') + ':'
      #cash
    %li
      = submit_tag t('activerecord.attributes.day.calculate')