%tr[day]
  %td= day.date
  %td.currency= currency_fmt(day.cash)
  %td.currency= currency_fmt(day.card_turnover)
  %td.currency= currency_fmt(day.gross_turnover)
  %td.currency= currency_fmt(day.net_turnover)
  %td.currency= currency_fmt(day.client_count)
  %td.currency= currency_fmt(day.expenses)
  %td.currency= currency_fmt(day.credit_turnover)
  %td.currency= currency_fmt(day.discount)
  %td.action-links
    = list_link_for(:edit, day)
    = list_link_for(:delete, day)
