= semantic_form_for @day do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :date, :as => :date_field, :input_html => {"data-autofocus" => true, :size => 10, :style => 'text-align: right'}
    = f.input :cash, :input_html => {:size => 12, :style => 'text-align: right'}
    = f.input :card_turnover, :input_html => {:size => 12, :style => 'text-align: right'}
    = f.input :gross_turnover, :input_html => {:size => 12, :style => 'text-align: right'}
    = f.input :net_turnover, :input_html => {:size => 12, :style => 'text-align: right'}
    = f.input :client_count, :input_html => {:size => 12, :style => 'text-align: right'}
    = f.input :expenses, :input_html => {:size => 12, :style => 'text-align: right'}
    = f.input :credit_turnover, :input_html => {:size => 12, :style => 'text-align: right'}
    = f.input :discount, :input_html => {:size => 12, :style => 'text-align: right'}

  = f.buttons do
    = f.commit_button
