= contextual_links

%h2= t_title

= paginated_section @accounts, :params => {:query => params[:query]} do
  %table.list#days_list
    %tr
      %th= t_attr :date
      %th.currency= t_attr :cash
      %th.currency= t_attr :card_turnover
      %th.currency= t_attr :gross_turnover
      %th.currency= t_attr :net_turnover
      %th.currency= t_attr :client_count
      %th.currency= t_attr :expenses
      %th.currency= t_attr :credit_turnover
      %th.currency= t_attr :discount
      %th.action-links

    = render @days
