= contextual_links

%h1= @days

%table
  %tr
    %th= t_attr :date
    %td= @day.date.to_date
  %tr
    %th= t_attr :cash
    %td= @day.cash
  %tr
    %th= t_attr :card_turnover
    %td= @day.card_turnover
  %tr
    %th= t_attr :gross_turnover
    %td= @day.gross_turnover
  %tr
    %th= t_attr :net_turnover
    %td= @day.net_turnover
  %tr
    %th= t_attr :client_count
    %td= @day.client_count
  %tr
    %th= t_attr :product_count
    %td= @day.product_count
  %tr
    %th= t_attr :expenses
    %td= @day.expenses
  %tr
    %th= t_attr :credit_turnover
    %td= @day.credit_turnover
  %tr
    %th= t_attr :discount
    %td= @day.discount
