%ul.tabs
  %li.active= link_to t_model, '#tab-company'
  %li= link_to t_model(Employment), '#tab-employment'
  %li= link_to t_model(Invoice), '#tab-invoices'
  %li= link_to t_model(Attachment), '#tab-attachments'

.tab-content
  #tab-company.active= render "form"
  #tab-employment= render 'show_employment'
  #tab-invoices= render 'show_invoices'
  #tab-attachments= render 'show_attachments'
