= semantic_form_for resource do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :amount, :input_html => {"data-autofocus" => true, :size => 12, :style => 'text-align: right'}
    = f.input :amount_relates_to, :collection => amount_relations_as_collection
    = f.input :code
    = f.input :title
    = f.input :charge_rate_code
    = f.input :credit_account
    = f.input :debit_account
    = f.input :comments, :input_html => {:rows => 5}
  = f.buttons do
    = f.commit_button
