= semantic_form_for resource do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :amount_relates_to, :collection => amount_relations_as_collection
    = f.input :code
    = f.input :title
    = f.input :charge_rate_code, :collection => codes_as_collection
    = f.input :credit_account, :as => :combobox, :collection => Account.all.collect{|account| ["%s - %s" % [account.code, account.title], account.id]}
    = f.input :debit_account, :as => :combobox, :collection => Account.all.collect{|account| ["%s - %s" % [account.code, account.title], account.id]}
    = f.input :comments, :input_html => {:rows => 5}
  = f.buttons do
    = f.commit_button
