= simple_form_for resource do |f|
  = f.input :amount_relates_to, :collection => amount_relations_as_collection
  = f.input :code
  = f.input :title
  = f.input :charge_rate_code, :collection => codes_as_collection
  = f.association :credit_account, :as => :combobox, :collection => accounts_as_collection
  = f.association :debit_account, :as => :combobox, :collection => accounts_as_collection
  = f.input :comments, :input_html => {:rows => 5}
  = f.button :submit