#direct_booking_form
  = semantic_form_for @direct_booking, :as => :direct_booking, :url => direct_bookings_path, :remote => true do |booking|
    = booking.semantic_errors
    = booking.hidden_field :reference_id
    = booking.hidden_field :reference_type
    = booking.text_field :value_date, :style => 'width: 12em'
    = collection_select :direct_booking, :booking_template_id, BookingTemplate.all, :id, :title
    Text: #{booking.text_field :comments, :style => 'width: 26em'}
    Betrag: #{booking.text_field :amount, :style => 'width: 6em'}
    \#{booking.submit "Buchen"}
