- if item.contra_account(direct_account)
  %tr
    %td{:style => "width: 10em"}= l item.value_date.to_date
    %td
      = link_to item.title, item
      - unless item.comments.blank?
        %hr{:style => "height: 1px; margin: 0"}
      = item.comments
    - if item.contra_account(direct_account)
      %td= link_to item.contra_account(direct_account), item.contra_account(direct_account)
      %td.currency= currency_fmt(item.accounted_amount(direct_account))
    - else
      %td
        = link_to(item.debit_account, item.debit_account)
        \/
        = link_to(item.credit_account, item.credit_account)
      %td.currency
