%tr
  %td{:style => "width: 10em"}= l item.value_date
  %td
    = link_to item.title, item
    = '<hr style="height: 1px; margin: 0"/>' unless item.comments.blank?
    = h item.comments
  %td{:style => "text-align: right"}
    = h currency_fmt(item.accounted_amount(@direct_account))
    \&nbsp;CHF
