= simple_form_for @bank_account do |f|
  = f.input :code, :input_html => {:size => 6}
  = f.input :pc_id, :input_html => {:size => 6}
  = f.input :esr_id, :input_html => {:size => 6}
  = f.input :title
  = f.input :account_type, :as => :combobox, :collection => options_from_collection_for_select(AccountType.all, :id, :title, @bank_account.account_type_id)
  = f.association :bank, :as => :combobox
  = f.button :submit
