= simple_form_for @bank_account do |f|
  = f.input :code
  = f.input :pc_id
  = f.input :esr_id
  = f.input :title
  = f.association :account_type, :label_method => :title
  = f.association :bank, :as => :combobox

  .form-actions
    = f.button :submit
