%tr[asset]
  %td= link_to asset.title, asset, {'data-href-container' => 'tr'}
  %td= link_to asset.purchase_invoice, asset.purchase_invoice if asset.purchase_invoice
  %td= link_to asset.direct_account, asset.direct_account
  %td= t_asset_state(asset.state)
  %td.currency= currency_fmt(asset.amount)
  %td.currency= currency_fmt(asset.balance)
  %td.action-links
    = icon_edit_link_to edit_asset_path(asset)
    = icon_delete_link_to asset, asset_path(asset)
