= semantic_form_for resource do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :state, :collection => asset_states_as_collection
    = f.input :title, :input_html => {'data-autofocus' => true}
    = f.input :amount
    = f.input :remarks, :input_html => {:rows => 4}

  = f.inputs t('title.invoices') do
    = f.input :purchase_invoice, :input_html => {:class => 'combobox'}
    = f.input :selling_invoice, :input_html => {:class => 'combobox'}

  = f.buttons do
    = f.commit_button
