= semantic_form_for resource do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title
    = f.input :amount
    = f.input :state, :collection => ['open', 'closed'], :input_html => {:class => 'combobox'}
    = f.input :remarks
    = f.input :invoice, :input_html => {:class => 'combobox'}

  = f.buttons do
    = f.commit_button
