%table.list#invoices_list
  %tr
    %th= t_attr :title, Asset
    %th= t_attr :invoice, Asset
    %th= t_attr :state, Asset
    %th.currency= t_attr :amount, Asset
    %th.currency= t_attr :balance, Invoice
    %th.action-links

  = render collection
