= simple_form_for resource do |f|
  = f.input :booking_import_attachment_id, :as => :hidden

  .row-fluid
    .span6
      = f.input :reference

  .row-fluid
    .span6
      = f.input :start_date, :as => :date_field
    .span6
      = f.input :end_date, :as => :date_field

  .row-fluid
    .span6
      = f.association :account

  .row-fluid.form-actions
    = f.button :submit

  %table.table.table-striped.table-condensed
    = f.fields_for :bookings do |b|
      %tr[b.object]
        %td.value_date= b.object.value_date
        %td.amount= currency_fmt(b.object.amount)
        %td.title= b.input :title, :wrapper => :inline
        %td.comments= b.input :comments, :wrapper => :inline, :input_html => {:rows => 2}
        %td.credit_account= b.association :credit_account, :wrapper => :inline
        %td.debit_account= b.association :debit_account, :wrapper => :inline
