%p
  = t('devise.hello', :email => @resource.email)
%p
  = t('devise.request_to_change_password')
%p
  = link_to t('devise.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  = t('devise.ignore_mail.first_line')
%p
  = t('devise.ignore_mail.second_line')
