= simple_form_for @booking, :url => create_expense_path do |f|
  .row-fluid
    .span6
      = f.input :title, :input_html => {"data-autofocus" => true}
    .span6
      = f.input :amount, :as => :string, :label => t('expenses.labels.amount')
  .row-fluid
    .span6
      = f.input :value_date, :as => :date_field
    .span6
      = f.input :code

  .row-fluid
    .span6
      = f.association :credit_account, :collection => accounts_as_collection(Account.all), :as => :combobox, :label => t('expenses.labels.credit_account')
    .span6
      = f.association :debit_account, :collection => accounts_as_collection(Account.all), :as => :combobox, :label => t('expenses.labels.debit_account')

  - if current_tenant.vat_obligation?
    = render 'vat_booking_form', :vat_booking => :vat_full_booking
    = render 'vat_booking_form', :vat_booking => :vat_reduced_booking
    = render 'vat_booking_form', :vat_booking => :vat_special_booking

  .row-fluid
    .span12
      = f.input :comments, :input_html => {:rows => 4}

  = f.button :submit
