%h1
  = "Abrechnung von #{h @day.date}"
= form_for @register, :remote => true, :as =>:cash_register, :url => {:action => 'calculate_cash'} do |f|
  %table
    %tr
      %td{:style => "vertical-align: top"}
        %table
          - for i in [ 200, 100, 50, 20, 10 ]
            %tr
              %th{:style => "text-align: right"}
                = h i
                x
              %td
                = f.text_field i, :size => 4, :style => "text-align: right"
      %td{:style => "vertical-align: top"}
        %table
          - for i in [ 5, 2, 1, 0.5, 0.2, 0.1, 0.05 ]
            %tr
              %th{:style => "text-align: right"}
                = h i
              %td= f.text_field i, :size => 4, :style => "text-align: right"
          %tr
            %th Total:
            %td#cash
    %tr
      %td{:colspan => "4"}
        = submit_tag 'Ausrechnen'

= form_for @day, :as => :day, :url => { :action => 'update', :id => @day } do |f|
  %table
    %tr
      %th Datum
      %td= f.text_field 'date', :label => 'Datum', :size => 10, :style => "text-align: right"
    %tr
      %th Bruttoumsatz
      %td= f.text_field 'product_count', :label => 'Bruttoumsatz', :size => 4, :style => "text-align: right"
    %tr
      %th
      %td= f.text_field 'gross_turnover', :label => 'Bruttoumsatz', :size => 6, :style => "text-align: right"
    %tr
      %th Nettoumsatz
      %td= f.text_field 'client_count', :label => 'Nettoumsatz', :size => 4, :style => "text-align: right"
    %tr
      %th
      %td= f.text_field 'net_turnover', :label => 'Nettoumsatz', :size => 6, :style => "text-align: right"
    %tr
      %th Bar-Soll
      %td= f.text_field 'cash', :label => 'Bar-Soll', :size => 6, :style => "text-align: right"
    %tr
      %th Ausgabe
      %td= f.text_field 'expenses', :label => 'Ausgabe', :size => 6, :style => "text-align: right"
    %tr
      %th EFT/Karte
      %td= f.text_field 'card_turnover', :label => 'Bar-Soll', :size => 6, :style => "text-align: right"
    %tr
      %th Kredit
      %td= f.text_field 'credit_turnover', :label => 'Kreditumsatz', :size => 6, :style => "text-align: right"
    %tr
      %th Rabatt
      %td= f.text_field 'discount', :label => 'Rabatt', :size => 6, :style => "text-align: right"
    %tr
      %td{:colspan => "2"}= submit_tag 'Abschliessen'
