%ul.nav.nav-list
  %li.nav-header= t('bookyt.main_navigation.accounting')
  %li= link_to t_title(:new, Booking), new_booking_path
  - BookingTemplate.where(:type => nil).limit(5).each do |template|
    %li= link_to template, [:new_booking, template]

  %li.nav-header= t_title(:index, DebitInvoice)
  %li= link_to t_title(:new, DebitInvoice), new_debit_invoice_path
  %li= link_to 'Offene Posten', debit_invoices_path

  %li.nav-header= t_title(:index, CreditInvoice)
  %li= link_to t_title(:new, CreditInvoice), new_credit_invoice_path
  %li= link_to 'Offene Posten', credit_invoices_path

  %li.nav-header Infos
  %li= link_to t_title(:index, Account), accounts_path
  %li= link_to t_title(:index, Booking), bookings_path
  %li= link_to t_title(:balance_sheet, Tenant), balance_sheet_tenant_path(current_tenant)
  %li= link_to t_title(:profit_sheet, Tenant), profit_sheet_tenant_path(current_tenant)
