%tr.nested-form-item
  %td= line_item.text_field :date, :style => 'width: 85px', 'date-picker' => 'true'
  %td= line_item.text_field :title, :required => true, :style => 'width: 30em'
  %td= line_item.text_field :times, :required => true, :style => 'width: 3em', :autocomplete => "off"
  %td= line_item.select :quantity, ['times', 'hours', 'overall'].map{|quantity| [t(quantity, :scope => 'line_items.quantity'), quantity]}, {}, :style => 'width: 6em'
  %td= line_item.text_field :price, :required => true, :style => 'width: 3em', :autocomplete => "off"
  %td= line_item.select :vat_rate, vat_rates_as_collection
  %td.action_links
    = line_item.hidden_field :_destroy
    = link_to t_action(:delete), '#', :class => 'icon-delete-text delete-nested-form-item'
