%tr.nested-form-item[line_item.object]
  %td= line_item.text_field :date, :style => 'width: 85px', 'date-picker' => 'true'
  %td= line_item.text_field :title, :required => true, :style => 'width: 30em'
  %td= line_item.text_field :times, :required => true, :style => 'width: 3em', :autocomplete => "off"
  %td= line_item.select :quantity, ['x', 'hours', 'overall', '%'].map{|quantity| [t(quantity, :scope => 'line_items.quantity'), quantity]}, {}, :style => 'width: 6em'
  %td= line_item.text_field :price, :required => true, :style => 'width: 5em', :autocomplete => "off"
  %td.currency.total_amount= currency_fmt(line_item.object.accounted_amount)
  %td= line_item.select :debit_account_id, accounts_as_collection(Account.all), {:include_blank => true}, :class => 'combobox span'
  %td= line_item.select :credit_account_id, accounts_as_collection(Account.all), {:include_blank => true}, :class => 'combobox span'
  %td.action_links
    = line_item.hidden_field :position
    = line_item.hidden_field :code
    = line_item.hidden_field :reference_code
    = line_item.hidden_field :booking_template_id
    = line_item.hidden_field :include_in_saldo_list
    = line_item.hidden_field :_destroy
    = link_to boot_icon('trash'), '#', :class => 'delete-nested-form-item'
