= line_item.text_field :date, :style => 'width: 85px', 'date-picker' => 'true'
= line_item.text_field :title, :required => true, :style => 'width: 30em'
= line_item.text_field :times, :required => true, :style => 'width: 3em', :autocomplete => "off"
= line_item.select :quantity, ['times', 'hours', 'overall'].map{|quantity| [t(quantity, :scope => 'line_items.quantity'), quantity]}, {}, :style => 'width: 6em'
= line_item.text_field :price, :required => true, :style => 'width: 3em', :autocomplete => "off"
