%tr
  %th{:style => 'padding: 2px; width: 80px'}= t_attr(:date, LineItem)
  %th{:style => 'padding: 2px'}= t_attr(:title, LineItem)
  %th{:style => 'padding: 2px; width: 3em'}= t_attr(:times, LineItem)
  %th{:style => 'padding: 0px; width: 6em'}= t_attr(:quantity, LineItem)
  %th{:style => 'padding: 2px; width: 3em'}= t_attr(:price, LineItem)
  %th.currency{:style => 'padding: 2px; width: 6em'}= t_attr(:total_amount, LineItem)
  %th
  %th.action_links= link_to t_action(:more), [:new_line_item, invoice.persisted? ? invoice : invoice.class.name.underscore.pluralize.to_sym], :remote => true, :class => 'icon-add-text'
