%h3= t('title.line_items')
%table#line_items.table.table-striped{'data-direct-account-id' => resource.direct_account.id, 'data-direct-account-factor' => resource.direct_account_factor}
%thead
  = render 'line_items/list_header', :invoice => invoice
%tbody.sortable
  = f.fields_for :line_items do |line_item|
    = render "#{line_item.object.class.name.underscore.pluralize}/form", :line_item => line_item
%tfoot
  = render 'line_items/list_footer', :total_amount => invoice.amount
