.row-fluid.head
  .span1= t_attr(:date, LineItem)
  .span2= t_attr(:title, LineItem)
  .span1= t_attr(:times, LineItem)
  .span1= t_attr(:quantity, LineItem)
  .span1= t_attr(:price, LineItem)
  .span2= t_attr(:debit_account, LineItem)
  .span1= t_attr(:credit_account, LineItem)
  .span1= t_attr(:total, LineItem)
  .span1.currency= t_attr(:total_amount, LineItem)
