<h1>Erfolgsrechnung f&uuml;r <%= @client.name %> <%= @year %></h1>
<% form_tag(:action=> :show) do %>
  Von: <%= text_field 'balance', 'start_date', {:value => @start_date} %>
  Bis: <%= text_field 'balance', 'end_date', {:value => @end_date} %>
  <%= submit_tag 'Los' %>
<% end %>

<table id="profit-sheet">
  <tr>
    <th>Aufwand</th>
    <th>Ertrag</th>
  </tr>
  <tr>
    <td style="background-color: #00FF00">
      <table width="100%">
        <%= render 'accounts/list_header' %>
        <%= render Account.expenses.all.select{|a| a.saldo(@date) != 0.0} %>
      
        <tr style="background-color: #000000; color: #FFFFFF">
          <th colspan="2">Total</th>
          <th class="currency"><%= currency_fmt(Account.expenses.saldo(@date)) %></th>
        </tr>
      </table>
    </td>
    <td style="background-color: #FF0000">
      <table width="100%">
        <%= render 'accounts/list_header' %>
        <%= render Account.earnings.all.select{|a| a.saldo(@date) != 0.0} %>
      
        <tr style="background-color: #000000; color: #FFFFFF">
          <th colspan="2">Total</th>
          <th class="currency"><%= currency_fmt(-Account.earnings.saldo(@date)) %></th>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="background-color: black; color: white">
    <th>Differenz</th>
    <td class="currency"><%= currency_fmt(Account.expenses.saldo(@date) + Account.earnings.saldo(@date)) %></td>
  </tr>
</table>
