!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => "Simon Huerlimann &lt;simon.huerlimann@cyt.ch&gt;", :name => "author"}/

    %link{:rel => "shortcut icon", :href => image_path('favicon.ico')}/

    = stylesheet_link_tag 'application', :media => 'screen, projection, print'
    = engine_stylesheet_link_tag :media => 'screen, projection, print'
    = stylesheet_link_tag 'print', :media => 'print'

    = csrf_meta_tag
    %title
      - if current_user
        = "#{t_page_head} (#{current_user.tenant}) - #{t('application.title')}"
      - else
        = "#{t_page_head} - #{t('application.title')}"
  %body{:style => "padding-top: 60px"}
    .topbar
      .topbar-inner
        .container-fluid
          = link_to root_path, :class => 'brand' do
            book<span id="logo-yt">yt</span>
          %div{'data-dropdown' => 'dropdown'}
            = render_navigation(:context => :main, :level => 1..2, :renderer => BootstrapTopbarList, :expand_all => true)
          = form_tag "/search", :method => :get do
            = text_field_tag "query", params[:query], :placeholder => "Suche"
          .pull-right{'data-dropdown' => 'dropdown'}
            = render_navigation(:context => :user, :level => 1..2, :renderer => BootstrapTopbarList, :expand_all => true)
    .container-fluid
      .sidebar
        = render_sidebars

      .content
        .row
          - if notice
            #flash.flash.notice= notice
          - if alert
            #alert.flash.alert= alert
          = yield

    = javascript_include_tag "application"
