!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => "Simon Huerlimann &lt;simon.huerlimann@cyt.ch&gt;", :name => "author"}/

    %link{:rel => "shortcut icon", :href => image_path('favicon.ico')}/

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'compiled/ie6.css', :media => 'screen, projection'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    %title
      = "CyBook - #{controller.action_name.capitalize}"
  %body
    #container
      #header
        #logo{:style => 'margin: 14px; float: left;'}
          = image_tag('logo.png')
          %h1{:style => 'display: inline; color: #002B3D'} CyBook
        #main-menu
          = render_navigation(:level => 1)

      #content
        - if flash[:notice]
          #flash.flash.notice
            = flash[:notice]
        = yield

      #sidebar
        = yield :sidebar
