!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => "Simon Huerlimann &lt;simon.huerlimann@cyt.ch&gt;", :name => "author"}/

    %link{:rel => "shortcut icon", :href => image_path('favicon.ico')}/

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection, print'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'compiled/ie6.css', :media => 'screen, projection'

    = csrf_meta_tag
    %title
      - if current_user
        = "#{t_title} (#{current_user.tenant}) - #{t('application.title')}"
      - else
        = "#{t_title} - #{t('application.title')}"
  %body
    #container
      #header
        #logo{:style => 'margin: 0px'}
          = image_tag('logo.png')
          %h1#logo-text book<span id="logo-yt">yt</span>
        #main-menu
          = render_navigation(:context => :main, :level => 1)
          = render_navigation(:context => :user, :level => 1)
      #sidebar-column
        #second-main-menu.sidebar
          = render_navigation(:context => :main, :level => 2)
        #sidebar.sidebar
          = yield :sidebar

      #content-column
        #content
          - if notice
            #flash.flash.notice= notice
          - if alert
            #alert.flash.alert= alert
          = yield

    = javascript_include_tag :defaults
