!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => "Simon Huerlimann &lt;simon.huerlimann@cyt.ch&gt;", :name => "author"}/

    %link{:rel => "shortcut icon", :href => image_path('favicon.ico')}/

    = stylesheet_link_tag 'application', :media => 'screen, projection, print'
    = engine_stylesheet_link_tag :media => 'screen, projection, print'
    = stylesheet_link_tag 'print', :media => 'print'

    = csrf_meta_tag
    %title
      - if current_user
        = "#{current_user.tenant}: #{content_for :page_title} - #{t('application.title')}"
      - else
        = "#{t_page_head} - #{t('application.title')}"
  %body{:style => "padding-top: 60px"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to root_path, :class => 'brand' do
            book<span id="logo-yt">yt</span>
          = render_navigation(:context => :main, :level => 1..2, :renderer => BootstrapTopbarList, :expand_all => true)
          - if user_signed_in?
            %form.navbar-search.pull-left
              %input.search-query
                //= form_tag "/search", :method => :get do
                //  = text_field_tag "search-query", params[:query], :placeholder => t('placeholder.search')
          .pull-right      
            = render_navigation(:context => :user, :level => 1..2, :renderer => BootstrapTopbarList, :expand_all => true)
    .container-fluid
      .container-left
        .sidebar
          = render_sidebars    
      .content
        .row
          - if notice
            .alert.alert-block.alert-success{'data-alert' => 'alert'}
              %a.close{:href => '#'} &times;
              = notice
          - if alert
            .alert.alert-block.alert-error{'data-alert' => 'alert'}
              %a.close{:href => '#'} &times;
              = alert
        = yield

    %footer.footer
      .container-fluid
        %p.pull-right
          = link_to "Deutsch", :locale => 'de-CH'
          = link_to "English", :locale => 'en'
        %p
          Bookyt is built by <a href="http://cyt.ch" target="_blank">CyT GmbH</a>.
          Code licensed under the <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU AGPL 3</a>.

    = javascript_include_tag "application"
