!!!
%html
  %head
    %meta{:charset => 'utf-8'}/
    = favicon_link_tag 'favicon.ico'

    = stylesheet_link_tag 'application', :media => 'all'
    = engine_stylesheet_link_tag :media => 'screen, projection, print'
    = javascript_include_tag "application"

    = csrf_meta_tag
    %title
      - if current_user
        = "#{current_user.tenant}: #{content_for :page_title} - #{t('application.title')}"
      - else
        = "#{content_for :page_title} - #{t('application.title')}"

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to root_path, :class => 'brand' do
            = t('application.title')

          = render_navigation(:context => :main, :level => 1..2, :renderer => BootstrapTopbarList, :expand_all => true)
          = render_navigation(:context => :user, :level => 1..2, :renderer => BootstrapTopbarList, :expand_all => true)
          - if user_signed_in?
            = form_tag "/search", :method => :get, :class => "navbar-search pull-left" do
              = text_field_tag "query", params[:query], :placeholder => t('placeholder.search'), :class => "search-query"
          %div= render 'users/user_bar'

    #content.container-fluid
      .row-fluid
        .span10
          .content
            - if notice
              = boot_alert(notice, 'success')
            - if alert
              = boot_alert(alert, 'error')
            = yield
        .span2
          .sidebar.well
            = render_sidebars

    #footer
      .container
        %p.pull-right
          = link_to "Deutsch", :locale => 'de-CH'
          = link_to "English", :locale => 'en'
        %p
          Bookyt is built by <a href="http://cyt.ch" target="_blank">CyT GmbH</a>.
          Code licensed under the <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU AGPL 3</a>.
