%tr[account]
  %td= account.code
  %td= link_to account.title, account_path(account, :by_value_period => params[:by_value_period])
  - if @date
    %td{:style => "text-align: right"}= currency_fmt(account.saldo(@date))
  - elsif params[:by_value_period]
    %td{:style => "text-align: right"}= currency_fmt(account.saldo(params[:by_value_period][:from]..params[:by_value_period][:to]))
  - else
    %td{:style => "text-align: right"}= currency_fmt(account.saldo)
  %td.action-links
    = list_link_for(:edit, account)
    = icon_delete_link_to account, account_path(account)
