%tr{:id => "booking_#{@booking.id}"}
  %td= @booking.value_date
  %td
    = @booking.title
    - if @booking.comments.present?
      %hr{:style => "height: 1px; margin: 0"}/
      %i= @booking.comments
  %td= link_to @booking.reference.to_s, @booking.reference unless @booking.reference.nil? rescue ''
  %td{:style => "text-align: right"}= (@booking.credit_account == @account) ? @booking.amount_as_string : content_tag('i', link_to(@booking.credit_account.code, account_path(@booking.credit_account), :title => @booking.credit_account.title))
  %td{:style => "text-align: right"}= (@booking.debit_account == @account) ? @booking.amount_as_string : content_tag('i', link_to(@booking.debit_account.code, account_path(@booking.debit_account), :title => @booking.debit_account.title))
  %td{:style => "text-align: right"}= currency_fmt(@saldo)
  %td.action-links
    = link_to image_tag('16x16/edit.png', :title => 'Edit'), edit_account_booking_path(@account, @booking, :page => params['page']), :method => :get
    = link_to image_tag('16x16/remove.png', :title => 'Destroy'), account_booking_path(@account, @booking, :page => params['page']), :remote => true, :method => :delete, :confirm => t_confirm_delete(@booking)
