%tr
  %th
    = t('activerecord.attributes.booking.date')
  %th
    = t('activerecord.attributes.booking.text')
  %th
    = t('activerecord.attributes.booking.reference')
  %th{:style => "text-align: right"}
    = t('activerecord.attributes.booking.credit_account')
  %th{:style => "text-align: right"}
    = t('activerecord.attributes.booking.debit_account')
  %th{:style => "text-align: right"}
    = t('activerecord.attributes.booking.balance')
  %th.action-links
