%tr
  = f.fields_for "", edit_booking do |f|
    %td.span2= f.text_field :value_date, :style => 'width: 96%'
    %td.span6
      = f.text_field :title, :style => 'width: 98%'
      = f.text_field :comments, :style => 'width: 98%'
      = f.hidden_field :reference_type, :value => 'Invoice'
      = f.select :reference_id, suggested_invoices_for_booking(f.object), :include_blank => true, :style => 'width: 98%', :class => 'combobox'
    %td.span1= f.text_field :amount, :style => 'width: 94%'

    %td.span1= f.association :credit_account, :collection => accounts_as_collection(Account.all), :as => :combobox, :style => 'width: 94%', :wrapper => :inline
    %td.span1= f.association :debit_account, :collection => accounts_as_collection(Account.all), :as => :combobox, :style => 'width: 94%', :wrapper => :inline

    %td{:style => 'display:none'}= f.hidden_field :id



    .span6
