= simple_form_for @account do |f|

  = f.input :code, :input_html => {:size => 6}
  = f.input :title
  = f.input :account_type, :as => :string, :collection => options_from_collection_for_select(AccountType.all, :id, :title, @account.account_type_id)
  = f.button :submit
