= contextual_links

%h2= t_title
= paginated_section @accounts, :params => {:query => params[:query]} do
  %table.list#accounts_list
    = render 'list_header'
    = render @accounts

  = render 'bookings/sidebar'
