<div class="contextual">
  <%= link_to t_action('new'), new_account_path, :class => "icon icon-add" %>
</div>
<h2><%= t_title %></h2>

<table class="list">
  <%= render 'list_header' %>
  <%= render @accounts %>
  <%= render 'list_footer' %>
</table>
