= simple_form_for @booking_template do |f|
  = f.input :title, :input_html => {"data-autofocus" => true}
  = f.input :code, :input_html => {:style => 'width: 6em'}
  = f.input :credit_account, :as => :combobox, :collection => accounts_as_collection
  = f.input :debit_account, :as => :combobox, :collection => accounts_as_collection
  = f.input :amount, :input_html => {:style => 'width: 6em'}
  = f.input :amount_relates_to, :collection => amount_relations_as_collection
  = f.input :comments, :input_html => {:rows => 5}
  = f.button :submit