%table.list.booking_template_list
  %tr
    = sort_header 'title', t('activerecord.attributes.booking.title')
    = sort_header 'debit_account_id', t('activerecord.attributes.booking.credit_account')
    = sort_header 'credit_account_id', t('activerecord.attributes.booking.debit_account')
    = sort_header 'amount', t('activerecord.attributes.booking.value')
    %th.action-links

  = render collection, :item_action => (item_action ||= nil)
